body{
  background-color: rgb(245, 225, 208)
}
.main-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

a {color:#0044ff;}         /* Unvisited link  */
a:visited {color:#0044ff;} /* Visited link    */
a:hover {color:#0044ff;}   /* Mouse over link */
a:active {color:#0044ff;}

.sub-title{
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color : gray;
  margin-top: 0;
}

.search-input-form {
    position: relative;
    width: 100%;
    max-width: 250px;
    margin-bottom: 5px;
  }
  
  .search-input-form button {
    background: transparent;
    border: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 5px;
    top: 5px;
  }
  
  .search-input-form button svg {
    fill: blue;
    stroke: blue;
    color: blue;
  }
  
  .search-input-form input {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #C9E2FF;
    height: 35px;
    font-size: 16px;
    padding-left: 35px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-input-form input::-webkit-input-placeholder {
     color: #aaa;
  }
  .search-input-form input:-moz-placeholder { /* Firefox 18- */
     color: #aaa;
  }
  .search-input-form input::-moz-placeholder {  /* Firefox 19+ */
     color: #aaa;
     opacity: 1;
  }
  .search-input-form input:-ms-input-placeholder {
     color: #aaa;
  }

  .search-header {
    margin-right: 0;
  }
  
  .search-form-wrapper {
    text-align: center;
  }
  
  .search-form-wrapper .row.search-justify {
    justify-content: center;
  }

  .search-header {
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 15px;
  }
  
  .search-title { 
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color : rgb(68, 64, 64);
  }
  button[type="submit"] {
    cursor: pointer;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-tab-container{
    display: flex;
    margin-bottom: 10px;
  }

  .nav-tab-container a{
    margin-right: 10px;
    cursor: pointer;
  }

  .nav-tab-container img{
    height: 40px;
    width: 40px;
  }


  .star { 
    cursor:pointer
  }

  .top-nav-item{
    margin-right: 10px;
  }

  .top-nav-item a{
    cursor:pointer
  }