{% load static %}
<link href="{% static "/css/index.css" %}" rel="stylesheet" type="text/css">

<div class="top-nav">
    {% if request.user.is_authenticated %}
        <span class="top-nav-item">Hello {{request.user.username}}!</span>
        <a href="{% url "logout" %}" class="top-nav-item">logout</a>
    {% else %}
        <a href="{% url "login" %}" class="top-nav-item">login</a>
        <a href="{% url "signup" %}" class="top-nav-item">sign up</a>
    {% endif %}
</div>
<h1 class="main-title">Hospital Quality Rankings</h3>
<h3 class="sub-title">Find out how well your local hospitals are performing</h3>
<div class="nav-tab-container">
    <a href="{% url "index" %}">
        <img src="{% static "/icons/table_icon.png" %}"/>
    </a>
    <a href="{% url "graph" %}">
        <img src="{% static "/icons/graph_icon.jpeg" %}"/>
    </a>      
</div>  