<h3>Hospital Finder</h3>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><a href="{% url "index" %}?sort=hospital">Hospital|</a></th>
        <th>30 Day Heart Attack Mortality|</th>
        <th>30 Day Chronic Obstructive Pulminary Disorder Mortality|</th>
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if d %}  
    {% for i in d %}
      <tr>
        <td>{{i.hospital}}</td>
        <td>{{i.mort_30_ami}}</td>
        <td>{{i.mort_30_copd}}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>