{% load static %}
<link href="{% static "/css/index.css" %}" rel="stylesheet" type="text/css">

<!--scripts for google maps!-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Rq696ITlGYFmB7mny9EhH2Z86Xekw4o&callback=Function.prototype"></script>
<title>Find Good Care</title>
<!--passing places data to be available in react-->
{{ google_places_data | json_script:'google_places_data' }}
{{ metric_ranges | json_script:'metric_ranges' }}
{{ care_types | json_script:'care_types' }}
<script type="module" src="{% static "App.js" %}"></script>
<div id="root"></div>  
  {{ request.user.id|json_script:"user_id" }}
