.main-app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.search-container {
  flex: 1.5;
  margin-bottom: 15px;
  max-height: 800px;
  overflow-y: auto;
  padding-right: 15;
}

@media (max-width: 768px) {
  .search-container {
    flex: inherit;
  }
}

.map-container {
  position: relative;
  flex: 3;
  overflow: hidden;
  /* Prevent scrolling on the map */
}

.place-detail-overlay {
  position: absolute;
  top: 10%;
  left: 10px;
  z-index: 10;
  max-height: calc(80% - 20px);
  overflow-y: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .place-detail-overlay {
    left: 10px;
    right: 10px;
  }
}


.tab-wrapper {
  height: 100%;
  min-height: 0;
}

/* Ensure the app container takes full height */
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .app {
    height: 100vh;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  .tab-wrapper {
    flex: 1 1 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 60vh;
  }
}